.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.event {
  position: relative;
  min-width: 300px;
  padding-top: 10px;
  padding-right: 80px;
  padding-bottom: 10px;
  padding-left: 15px;
  border: 1px dashed darkolivegreen;
}
